nodered.js
[{"id":"cc52f5a4.03f728","type":"http in","z":"1f4db60a.3f50f2","name":"","url":"/facebook","method":"get","swaggerDoc":"","x":206,"y":123,"wires":[["60ec3a83.834c8c"]]},{"id":"60ec3a83.834c8c","type":"change","z":"1f4db60a.3f50f2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.mensagem","tot":"msg"},{"t":"set","p":"user","pt":"msg","to":"req.query.user","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":202,"y":179,"wires":[["3ef2be81.92cea2","8cc3975d.837a1"]]},{"id":"3ef2be81.92cea2","type":"watson-conversation-v1","z":"1f4db60a.3f50f2","name":"","workspaceid":"aa9c381f-31d7-4d4f-9d12-3ce8bb4e68dc","multiuser":true,"context":true,"x":193,"y":244,"wires":[["1e264341.e15e85"]]},{"id":"1e264341.e15e85","type":"function","z":"1f4db60a.3f50f2","name":"","func":"msg.payload=[{\"text\":msg.payload.output.text[0]}];\n\nreturn msg;","outputs":1,"noerr":0,"x":417,"y":217,"wires":[["205e7250.371cce"]]},{"id":"205e7250.371cce","type":"http response","z":"1f4db60a.3f50f2","name":"","x":600,"y":251,"wires":[]},{"id":"8cc3975d.837a1","type":"debug","z":"1f4db60a.3f50f2","name":"","active":true,"console":"false","complete":"true","x":416,"y":277,"wires":[]}]